// Cores do projeto
$cor_azul_primario: #001A3D;
$cor_azul_secundario: #0844C4;
$cor_azul_aqua: #00BEDD;
$cor_vermelho: #A60B2F;
$cor_branco_gelo: #F1F4F9;
$cor_borda_cinza: #CBD4E1;
$cor_cinza: #63758D;
$cor_grafite: #23282F;

// Tipografia
$fonte_family: "Inter", sans-serif;
$fonte_pequena: 1rem;
$fonte_grande: 2rem;
$peso_menor: 400;
$peso_maior: 700;