@use '../../styles/variaveis' as *;

.navBarEstilo {
  height: 100vh;
  width: 4vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

   
  .menuHamburguer {
    background-color: $cor-azul-secundario;
    width: 70%;
    height: 7vh;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .secaoPerfil { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  button {
    
    background-color: $cor-azul-secundario;
    width: 70%;
    height: 7vh;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .buttonSair {
    background-color: $cor-cinza;
    width: 70%;
    height: 7vh;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  section {
    
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    
  }
  
}