$cor-azul-primario: #001A3D;
$cor-azul-secundario: #0844C4;
$cor-azul-aqua: #00BEDD;
$cor-borda-cinza: #CBD4E1;
$cor-grafite:  #23282F;

$fonte: 'Inter', sans-serif;

main {
  display: flex;
  height: 100vh;
  width: 100%;

}


.containerLogin {
  width: 60%;
  height: 100vh;
  background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerForm {

  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {

    margin-bottom: 3vh;
    width: 9vw;
  }

  h1 {
    font-family: $fonte;
    font-size: 2rem;
    font-weight: 700;
    width: 23vw;
    text-align: center;
    color: $cor-grafite;
    margin-bottom: 2vh;
    align-items: center;
  }

  p {
    color: $cor-azul-secundario;
    text-align: center;
    margin-bottom: 3vh;
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fonte;
    font-size: 1rem;
    font-weight: 700;
  }

  form {
    height: 38vh;
    width: 28vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    input {
      border: solid $cor-borda-cinza 0.8px;
      height: 8vh;
      width: 26vw;
      border-radius: 6px;
    }

    a {
      color: $cor-grafite;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 1rem;
      font-family: $fonte;
      font-weight: 400;
      margin: 8px 0;
    }

    .buttonGroup {
      width: 20vw;
      height: 10vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;


      button {
        width: 45%;
        height: 8vh;
        border-radius: 6px;
        font-family: $fonte;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        padding: 12px 13px;
      }

      .botaoEntrar {
        background-color: $cor-azul-primario;
        border: 0.8px solid $cor-azul-primario;
        color: #FFFFFF;
        cursor: pointer;
      }

      .botaoCriarConta {
        background-color: $cor-azul-aqua;
        border: 0.8px solid $cor-azul-aqua;
        color: #FFFFFF;
        cursor: pointer;

      }
    }

  }
}